.my-reservations {
    margin-top: 120px;
    margin-left: 70px;
    margin-bottom: 50px;
    margin-right: 70px;
}

.my-reservations-tittle {
    margin-top: 120px;
}

.my-reservations-tittle h1 {
    font-size: xx-large;
    margin-bottom: 20px;
}